<h1>All categories</h1>

<ul>
  #foreach ($category in $categories)
    <li><a href="/categories/$category.getId()">$category.getName()</a></li>
  #end
</ul>

<p>Add a new category:</p>

<form action="/categories" method="post">
  <label for="name">Category name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add Category</button>
</form>


<p><a href="/">Home</a></p>
