<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">

      #parse( $template )

    </div>

    <div style="text-align: center;">
      <a href="/">Return to home</a>

      #if ($recipes)
      <ul>
        #foreach ($recipe in $recipes)
          <li><a href="/recipe.getId()">$recipe.getName()</a></li>
        #end
      </ul>
      #end
    </div>
  </body>
</html>
